{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'wedo.css' %}">
{% endblock %}
{% block content %}

<div class=" d-block w-100">
  <img src="{% static 'ingenuity.jpeg' %}" style="width:100%; height:70vh;">
<!--  <h3 style="text-align: center"> What We Do</h1>-->
</div>

<!--<hr>

<div class="row">
  <div class="column">
    <img src="{% static '1.jpg' %}" alt="NU-CIIE" style="width:100%; height: 400px;">
  </div>
  <div class="column">
    <img src="{% static '2.jpg' %}" alt="NU-CIIE" style="width:100%; height: 400px">
  </div>
  <div class="column">
    <img src="{% static '1.jpg' %}" alt="NU-CIIE" style="width:100%; height: 400px;  transform: scaleX(-1);">
  </div>
</div>
<hr>

</div>-->


<div class="text1">
  <h8 id="head8">INGENUITY</h8><br><br>
  <p><span class="first-word">IngeNUity</span> Being Rocambolesque… is what IngeNUity’17 has been all about. A 72-hour extravagant festival that commenced with the opening ceremony on the evening of 3rd March 2017 with Mr. Vijay Thadani declaring the fest open, spanned across heart-throbbing events like Battle of Bands, Group Dances, Fashion Show, Street Plays and Informals like Hoverboard racing to keep the tempo going even at odd hours. To top it all off, the main attractions for IngeNUity’17 at NIIT were unequivocally the stand-up performance by none other than Zakir Khan and an exclusive EDM night by the gorgeous NinaMalika.<br>

Witnessing a footfall of around 5000 students, IngeNUity’17 became one of the most lavish fest in the region. The credit for making it what it turned out to be goes to the NU fraternity and majorly to the fest’s core team that involved five vibrant third year students: Karan Vinayak, Nirali Sampat, Jatin Kakkar, Ajeya Kapoor and Shashank Kumar Pawar, all of whom spent three tedious months in making the fest a huge success..<br>

With Grog events handling the state of the art stage, the fest was sponsored by W for Women, Lost Tribe, Ramada and other major brands. Amidst the ambience of the Aravali hills in the town of Neemrana, IngeNUity saw students from colleges like Lady Shree Ram, Kirorimal College, Amity University-Jaipur, Manipal-Jaipur, IIFD, MNIT, SGND Khalsa and many more creating a plethora of talent across the NIIT University campus. With the promise of IngeNUity’18 being more magnificent, NIIT University awaits it’s next fest in March 2018 that is definitely going to boost up ten folds more than the previous ones.
</div>


{% endblock %}
